@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(circle at 10% 20%, rgb(0, 102, 161) 0%, rgb(0, 68, 108) 90.1%);
  color: white;
  font-family: "Kanit", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

header .icon {
  width: 24px;
  height: 24px;
}

footer {
  align-self: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  padding: 10px;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px 20px;
  gap: 20px;
}

.map-form-container {
  display: flex;
  flex: 1;
  gap: 20px;
  height: 100vh;
}

.map-container {
  flex: 1;
  border: 2px solid white;
  border-radius: 8px;
  color: black;
  height: 84vh;
}

#map {
  height: 100%;
}

.info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 0.4;
  gap: 20px;
}

.form-container,
.output-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  border: 2px solid white;
  border-radius: 8px;
}

.output-container {
  flex: 1.8;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#hourlyPricesChart {
  background-color: white;
  border: 2px solid white;
  border-radius: 8px;
  max-height: 80vh;
}

#time {
  position: fixed;
  top: 5px;
  right: 5px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 17px;
}

input,
select,
button {
  padding: 5px;
  border: none;
  border-radius: 8px;
  font-family: inherit;
}

button:hover,
select:hover {
  cursor: pointer;
  background-color: white;
}